{% assign main_menu_linklist = linklists[section.settings.menu].links %}

<header class="main_header grid grid-cols-3 gap-2 items-center">
  <div class="site_logo_wrapper w-full">
    <a href="/en/home" aria-current="page" class="logo-link">
      {% if section.settings.brand_logo %}
        <img
          src="{{ section.settings.brand_logo | image_url: width: '150' }}"
          alt="{{ section.settings.site_logo_text }}"
          width="150"
          height="auto"
        >
      {% endif %}
      {% comment %} {% render 'site-logo-default' %} {% endcomment %}
    </a>
  </div>
  <div class="navigation_wrapper flex w-full items-center justify-center">
    <nav x-data="{open: false}" class="nav_menu flex gap-2 items-center border border-slate-700 rounded-md p-1">
      {% for link in main_menu_linklist %}
        {% if link.links != blank %}
          <div class="relative">
            <div
              x-on:click="open = ! open"
              class="nav-link-btn text-white flex items-center gap-1 cursor-pointer {% if link.active %}active{% endif %}"
            >
              {{- link.title }}
              {% render 'icon-chevron-down' %}
            </div>
            <div class="nav-item-sub-menu" x-show="open" @click.away="open = false">
              {% for sub_link in link.links %}
                <a href="{{ sub_link.url }}" class="sub-menu-link ">{{ sub_link.title }}</a>
              {% endfor %}
            </div>
        {% else %}
          <a href="{{ link.url }}" class="nav-link-btn {% if link.active %}active{% endif %}">
            {{- link.title -}}
          </a>
        {% endif %}
      {% endfor %}
    </nav>
  </div>
  <div class="acount-shop-wrapper flex items-center w-full">
    <div class="ml-auto flex items-center gap-[2rem]">
      {% if shop.customer_accounts_enabled %}
        <div class="user_account_login_reg flex gap-[1rem] items-center">
          <a href="{{routes.account_url}}" class="text-white hover:text-cyan-400">Login</a>
          <a href="{{routes.account_register_url}}" class="text-white hover:text-cyan-400">Register</a>
        </div>
      {% endif %}
      <div class="right-side">
        <a
          href="{{routes.cart_url}}"
          class="flex text-white justify-center items-center gap-1 flex-col hover:text-cyan-400"
        >
          <div class="cart-icon" title="Cart">
            {% render 'icon-shopping-bag' %}
          </div>
        </a>
      </div>
    </div>
  </div>
</header>

{% schema %}
{
  "name": "Header Section",
  "settings": [
    {
      "type": "text",
      "id": "site_logo_text",
      "label": "Site Logo Text",
      "default": "Site Logo",
      "info": "Site logo text for mobile view"
    },
    {
      "type": "image_picker",
      "id": "brand_logo",
      "label": "Brand Logo",
      "info": "Upload the brand's logo to display on your storefront."
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu Navigation",
      "default": "main-menu",
      "info": "This is the title of the desktop menu"
    }
  ]
}
{% endschema %}
